body {
	background: url(../img/bg.jpg) center/cover fixed;
}

.container-home {
	@include max-width;
}

// ----------------------------------------
// Section 1
// ----------------------------------------

.sec1 {
	background-color: $primary-color;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'cont1 cont1'
		'cont2 cont3';
	article {
		@include flex-center;
		flex-flow: column nowrap;
		padding: 75px 10%;
		h1 {
			color: $text-color;
			width: 60%;
		}
		&:first-child {
			grid-area: cont1;
			border-bottom: $border1 1px solid;
		}
		&:nth-child(2) {
			grid-area: cont2;
			border-right: $border1 1px solid;
		}
		&:last-child {
			grid-area: cont3;
		}
	}
	.sec1-big-content {
		span {
			position: relative;
			width: 100%;
			font-size: 1.3rem;
			color: $grey1;
			text-align: center;
			&:before,
			&:after {
				content: '';
				position: absolute;
				background-color: $border1;
				width: 35%;
				height: 2px;
				top: 50%;
			}
			&::before {
				left: 3%;
			}
			&::after {
				right: 3%;
			}
		}
		h1 {
			font-size: 3rem;
			margin: 60px 0 40px;
			line-height: 60px;
		}
		p {
			font-size: 1rem;
			color: $grey1;
			text-align: center;
			font-style: italic;
			width: 60%;
			line-height: 40px;
		}
		img {
			width: 100%;
			margin: 60px 0;
		}
	}
	.sec1-small-content {
		span {
			font-size: 1.1rem;
			color: $grey1;
		}
		h1 {
			font-size: 1.5rem;
			margin: 40px 0 30px;
			line-height: 30px;
		}
		p {
			font-size: 0.9rem;
			color: $grey1;
			line-height: 32px;
			margin-bottom: 60px;
		}
		img {
			width: 100%;
			margin-bottom: 40px;
		}
	}
}

// ----------------------------------------
// Section 2
// ----------------------------------------

.sec2 {
	margin: 40px 0 80px;
	background-color: $primary-color;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	&-form,
	&-info {
		width: 50%;
	}
	&-form {
		padding: 80px 5%;
	}
	&-form form {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		div {
			display: flex;
			flex-flow: column nowrap;
			width: 100%;
		}
		input[type='text'],
		textarea {
			margin: 20px 0;
			width: 100%;
			border: $border1 1px solid;
			background-color: $primary-color;
			border-radius: 10px;
			padding: 3%;
		}
		textarea {
			resize: none;
			height: 250px;
		}
		label {
			color: $grey3;
			font-size: 0.8rem;
			font-family: 'Inter', sans-serif;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
		input[type='button'] {
			margin-top: 35px;
			border: $grey2 2px solid;
			color: $grey3;
			padding: 10px 35px;
			font-family: 'Inter', sans-serif;
			text-transform: uppercase;
			letter-spacing: 3px;
			text-align: center;
			font-size: 1rem;
			transition: all 250ms;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	&-info {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		&--content {
			padding-left: 10%;
			display: grid;
			grid-template-columns: 30% 70%;
			border-left: $border1 1px solid;
			border-bottom: $border1 1px solid;
			h3 {
				font-size: 0.8rem;
				color: $grey3;
				letter-spacing: 3px;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: flex-start;
			}
			p {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				line-height: 30px;
				color: $grey4;
			}
		}
		&--social {
			border-bottom: none;
		}
		.social-media-container {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			a {
				margin: 0 2%;
				font-size: 1.2rem;
				width: 50px;
				height: 50px;
				border: $border1 1px solid;
				border-radius: 100%;
				transition: all 250ms;
				@include flex-center;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}
