@mixin max-width {
	width: $max-width;
	margin: 0 auto;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// responsive mobile
@mixin mobile {
	@media screen and (max-width: $mobile) {
		@content;
	}
}

// responsive tablet
@mixin tablet {
	@media screen and (max-width: $tablet) {
		@content;
	}
}

// responsive desktop
@mixin desktop {
	@media screen and (max-width: $desktop) {
		@content;
	}
}
