* {
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
}

h1,
h2,
h3 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 6px;
	text-align: center;
}
